body {
	background: #272822;
	color: #f8f8f2;
	margin: 5% 10%;
	font-size: calc(.8em + 2vw);
	transition: color ease 1s;
	transition: background-color ease 2s;
}

.content {
	text-align: center;
	font-family: 'Saira Extra Condensed', sans-serif;
}

.name {
	font-size: 3em;
}

.description {
	font-size: .8em;
	transition: all .2s ease;
}

/*Hide the resume section*/
/* .resume {
	display: none;
} */

.resume .button {
	font-size: 1em;
	margin-top: .8em;
}

.resume .button a, .name {
	transition: all .5s ease;
}

.button {
	padding: 5% 10%;
	overflow: hidden;
	/* -webkit-border-radius: 40vw;
    -moz-border-radius: 40vw;
	border-radius: 40vw; */
	transition: all .4s ease;
}

.button:hover, .dropdown-item:hover {
	cursor: pointer;
	opacity: .75;
	transform: scale(1.07);
}

.dropdown-toggle.btn-outline-light:hover, .dropdown-toggle.btn-outline-light#dropdownMenuButton {
	background: none;
}

.dropdown-item:hover {
	background: none;
}

.pdf, .fa-file-pdf-o {
	color: #7f0404;
}

.word, .fa-file-word-o {
	color: #395393;
}

.text, .fa-file-text-o {
	color: #1c1d18;
}

.resume a {
	text-decoration: none;
	color: inherit;
}

.resume .dropdown-item {
	font-size: 2em;
}

.resume .dropdown-menu {
	width: 31%;
}

a.contact {
	font-size: calc(.2em + 2vw);
	text-decoration: none;
	color: #cecece9c;
	font-weight: 100;
}

.contact i {
	font-size: 2em;
	transition: all .5s ease;
}

.contact i:hover, .dropdown-toggle.btn-outline-light:hover, .dropdown.show>.dropdown-toggle.btn-outline-light#dropdownMenuButton  {
	opacity: .7;
	color: #A6E22E;
	transform: scale(1.07);
	border-color: #A6E22E;
}

.theme-toggle, .dropdown {
	margin-top: 1.8em;
}

.theme-toggle .button, .dropdown .button {
	/* background: #111111; */
	font-size: .8em;
	padding: 1%;
	width: 30%;
	margin: auto;
}

.dark-text .theme-toggle .button, .dark-text .dropdown .button {
	border-color: #080808;
	color: #080808;
}

.theme-toggle .button:after {
	content: "Switch to Light Theme";
	transition: all .5s ease;
	transition: font-color 0s;
}

.theme-toggle.light .button:after {
	content: "Switch to Dark Theme";
}

.invert {
	filter: invert(100%);
}

.light-background {
	background: #cecece;
	transition: color ease 1s;
	transition: background-color ease 2s;
}

.dark-background {
	background: #080808;
	/* transition: all ease 1s; */
}

.dark-text {
	color: #080808;
}

.light-text {
	color: #cecece;
}

.badge {
	max-width: 200px;
	max-height: 200px;
	height: auto;
	width: auto;
	margin-top: 20%;
	transition: all ease 1s;
}

.badge:empty {
	display: inline-block;
}
